{% extends 'base.html.twig' %}

{% block title %}Manga{% endblock %}

{% block body %}
    <h1>Manga</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ manga.id }}</td>
            </tr>
            <tr>
                <th>Serie</th>
                <td>{{ manga.serie }}</td>
            </tr>
            <tr>
                <th>Tome</th>
                <td>{{ manga.tome }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ manga.titre }}</td>
            </tr>

            <tr>
            <th>Image</th>
            <td>
                {% if manga.imageName %}
                <img src="{{ vich_uploader_asset(manga, 'imageFile') }}" alt="{{ manga.titre }}" style="max-width:220px;height:auto;">
                {% else %}
                <em>Aucune image</em>
                {% endif %}
            </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_manga_index') }}">back to list</a>

    <div class="mt-3 d-flex gap-2">
      <a class="btn btn-secondary btn-sm"
         href="{{ path('bibliotheque_show', { id: manga.bibliotheque.id }) }}">
        ← Retour à la bibliothèque
      </a>

      <a class="btn btn-primary btn-sm"
         href="{{ path('app_manga_edit', {'id': manga.id}) }}">
        Éditer
      </a>

    {{ include('manga/_delete_form.html.twig') }}
{% endblock %}
